:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  /* background-color: #f8f9fa; */
  background-image: linear-gradient(#d4d9ed, #d7d1d1);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Text */

h1 {
  color: #114d4d;
  font-size: 2.3em;
  line-height: 1.1;
}

h2 {
  color: #6e9987;
}

p, footer {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 500;
}

a {
  font-weight: 500;
  color: #114d4d;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* Body */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
}